{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:400,600,700&display=swap"
        rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main/css/reg.css' %}">
        <title>Страница Регистрации</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                 <div class="reg__block">
                     <form method="post">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <button type="submit"></button>
                     <button><input type="reset" value="Button">Reset</button>
                 </form>
                 </div>
            </div>
        </div>
    </body>
</html>


<!--                    <div class="reg__block__content">-->
<!--                        <div class="reg__block__title">-->
<!--                            <h1>Регистрация</h1>-->
<!--                        </div>-->
<!--                        <div class="reg__block__text">-->
<!--                            <input placeholder="Логин"  type="text" class="reg__block__input">-->
<!--                            <input placeholder="Пароль"  type="password" class="reg__block__input">-->
<!--                            <input placeholder="Подвердите пароль"  type="password" class="reg__block__input">-->
<!--                            <button class="reg__block__button" type="submit">Зарегистрироваться</button>-->
<!--                            <a class="reg__blog__enter" href="{% url 'login' %}">Есть аккаунт?</a>-->
<!--                        </div>-->
<!--                    </div>-->


<!--
<input placeholder="Имя"  type="text" class="reg__block__input">
<input placeholder="Фамилия"  type="text" class="reg__block__input">
<input placeholder="Email"  type="email" class="reg__block__input">
<input placeholder="Номер телефона"  type="tel" class="reg__block__input">
-->